{% extends "base.html" %}

<!-- Specify the Title -->
{% block title %}{{ category_name }} Quotes{% endblock title %}
    {% block sidebar %}
    <div id="sidebar-wrapper" class="col-md-2">
        <div id="sidebar">
            <ul class="nav list-group">
            {% for i in items %}
                <li>
                    <a href="{{url_for('showItem', category_name=category_name, item_name=i.name) }} ">{{i.name}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endblock sidebar %}

{% block content %}
    <h2>{{ category_name }}</h2>
    {% if login_session.get('user_id') %}
        <p><a href="{{url_for('addItem',category_name=category_name)}}">addItem</a></p>
    {% endif %}
    {# {% for i in items %}
        <ul>
            <li><a href="{{url_for('showItem', category_name=category_name, item_name=i.name) }} ">{{i.name}}</a></li>
        </ul>
    {% endfor %} #}
{% endblock content %}
