{% extends "base.html" %}

<!-- Specify the Title -->
{% block title %}{{ category_name }} Quotes{% endblock title %}
    {% block sidebar %}
    <div id="sidebar-wrapper" class="col-md-2">
        <div id="sidebar">
            <ul class="nav list-group">
                <li>
                    <strong><a class="list-group-item" href="{{url_for('showCategory', category_name=category_name) }} ">On {{category_name}}</a></strong>
                </li>
            {% for i in items %}
                <li>
                    <a class="list-group-item" href="{{url_for('showItem', category_name=category_name, item_name=i.name) }} ">{{i.name}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endblock sidebar %}

{% block content %}
    <p class="lead">Choose a quote from the sidebar</p>
    {% if login_session.get('user_id') %}
        <p><a href="{{url_for('addItem',category_name=category_name)}}">Or add a new quote</a></p>
    {% endif %}
{% endblock content %}
