{% extends "showCategory.html" %}

<!-- Specify the Title -->
{# {% block title %}showItem{% endblock %} #}

<!-- Enter HTML for the div#content -->
{% block content %}
	{% if not item %}
		<p> No item named '{{ item_name }}' in the '{{ category_name }}' category</p>
	{% else %}
		<h5>{{ item.name }} </h5>
		<blockquote>
			<p class="lead"> {{ item.description}} </p>
		</blockquote>
		<p> - {{ item.author }} </p>
		{% if item.user_id == login_session.get('user_id')  %}
			<p><a href="{{url_for('editItem', category_name=category_name, item_name=item_name) }} ">Edit</a></p>
			<p><a href="{{url_for('deleteItem', category_name=category_name, item_name=item_name) }} ">Delete</a></p>
		{% endif %}
	{% endif %}
{% endblock content%}

<!-- Enter HTML for div#footer -->
{% block nav_list %}
	<li><a href="{{url_for('showCategory', category_name=category_name)}}">Back to {{ category_name }} category</a></li>
{% endblock nav_list %}
